/* styles.css */

  
  /* Center the spinner container using flexbox */
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* You can adjust this to match your layout */
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6.4px solid;
    border-color: #dbdcef;
    border-right-color: #474bff;
    animation: spinner-d3wgkg 1s infinite linear;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  @keyframes spinner-d3wgkg {
    to {
      transform: rotate(1turn);
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    @apply opacity-0 animate-[fadeIn_0.5s_ease-in-out_forwards];
  }

  .animate-fade-in-up {
    @apply opacity-0 translate-y-4 animate-[fadeUp_0.6s_ease-out_forwards];
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

  
