/* styles.css */

  
  /* Center the spinner container using flexbox */
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* You can adjust this to match your layout */
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 6.4px solid;
    border-color: #dbdcef;
    border-right-color: #474bff;
    animation: spinner-d3wgkg 1s infinite linear;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  @keyframes spinner-d3wgkg {
    to {
      transform: rotate(1turn);
    }
  }
  